<%= error_messages_for(@subject) %>

  <table summary="Subject from  fields">
    <tr>
      <th><%= f.label(:sname, "Sname") %></th>
        <td><%= f.text_field(:sname) %></td>
    </tr>
    <tr>
      <th><%= f.label(:smarks) %></th>
        <td><%= f.text_field(:smarks) %></td>
    </tr>
      <tr>
      <th><%= f.label(:sbob) %></th>
        <td><%= f.text_field(:sdob) %></td>
    </tr>
  
  </table>
  